name: Run Shell Script via GitHub Actions

on:
 workflow_dispatch  # Runs the script whenever code is pushed
#firstjob_example
jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create and Execute Shell Script
        run: chmod +x 1.sh
      - name: run a script
        run: ./1.sh