name: Run Shell Script via GitHub Actions

on: push  # Runs the script whenever code is pushed

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create and Execute Shell Script
        run: chmod +x 1.sh
      - name: run a script
        run: ./1.sh